<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>

        <mapper resource="mapping/RewardOrderDao.xml"></mapper>
        <mapper resource="mapping/ServerStatusDao.xml"></mapper>
        <mapper resource="mapping/UserAddressDao.xml"></mapper>
        <mapper resource="mapping/UserStatusDao.xml"></mapper>
    </mappers>
</configuration>