<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>loadBalance.rest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.xgame.service.load.balance.rest.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>loadBalance.rest</servlet-name>
		<url-pattern>/loadbalance/*</url-pattern>
	</servlet-mapping>

<!--	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.advdsp.service.manager.rest.resources.login.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/manager/*</url-pattern>
	</filter-mapping>-->

	<!-- 让jetty支持跨域访问 -->
	<filter>
		<filter-name>cross-origin</filter-name>
		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>allowedOrigins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>allowedMethods</param-name>
			<param-value>GET,POST,HEAD</param-value>
		</init-param>
		<init-param>
			<param-name>allowedHeaders</param-name>
			<param-value>X-Requested-With,Content-Type,Accept,Origin</param-value>
		</init-param>
	</filter>

	<!-- 此处表示jetty中的所有url都可以支持跨域 -->
	<filter-mapping>
		<filter-name>cross-origin</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
